@import "../globals/base";

.blog {
  text-align: left;

  &__post {
    max-width: $width-large;
    margin-bottom: 50px;

    &__title {
      margin-bottom: 5px;

      &__link {
        color: $primary-color;

        &:hover {
          color: $primary-color__hover;
        }
      }
    }

    &__excerpt {
      line-height: 1.75;
      margin-bottom: 15px;
    }

    &__info {
      font-weight: 400;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}
