@import "../globals/base";

.fullname {
  color: #363636;
  margin-bottom: 10px;
  font-weight: 600;
}

.occupation {
  font-weight: 400;
  color: #4a4a4a;
  margin-bottom: 20px;
}

.description {
  color: #4a4a4a;
  font-weight: 400;
}

.social-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;

  .link-button {
    font-size: 18px;
  }
}

.latest-post {
  box-shadow: 0 -2px 0 0 #f5f5f5;
  padding: 20px 0;
  max-width: $width-large;
  margin: 0 auto;

  &__title {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 1.2;

    &__link {
      color: $primary-color;

      &:hover {
        color: $primary-color__hover;
      }
    }
  }

  &__excerpt {
    font-size: 0.75rem;
    color: #4a4a4a;
    margin: 0;
  }
}
