$width-large: 960px;

.posts {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40rem;

    li {
        text-align: left;
        list-style: none;
    }

    h2 {
        color: #3d588f;
        font-weight: 700;
        font-size: 1.5rem;

        .post-link {
            text-decoration: none;
        }

        .post-link:hover {
            text-decoration: underline;
        }
    }
    
    

    .post {
        h2 {
            margin-bottom: 5px;
        }

        h3 {
            margin-bottom: 10px;
        }

        .preview-image {
            width: 450px;
        }
    }
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .link-button {
        color: black;
        text-decoration: none;
        display: flex;
        font-size: 1.25em;
        padding: 0.8rem;
        border-radius: 4px;
        margin-right: 1rem;
        line-height: normal;

        .link-button-icon {
            margin-right: 7px;
        }
    }
    
    .link-button:hover {
        background-color: #f1f1f1;
    }
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

h3 {
    font-size: 1rem;
    font-weight: 300;
}

a:visited {
    color: unset;
}

html,
body,
ul,
ol,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}