$width-max: 1040px;
$width-xlarge: 960px;
$width-large: 768px;
$width-medium: 480px;
$width-small: 599px;
$width-xsmall: 479px;

$border-radius: 4px;

$primary-color: #6772e5;
$primary-color__hover: #7795f8;

body {
  background-color: #f6f9fc;
}

.paper {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: $border-radius;
  background-color: white;
  overflow: hidden;
  position: relative;
  padding: 15px;

  &:hover svg path {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    fill: #8898aa;
  }
}

.read-time {
  color: lightgray;
  font-weight: 500;
  font-size: 16px;
}

.project {
  width: 50%;

  &__content {
    padding: 40px 40px 40px 150px;
  }

  &__title {
    text-transform: uppercase;
  }

  &__body {
    &__buttons {
      display: flex;
      margin-left: -10px;
      margin-right: -10px;

      .link-button {
        text-transform: uppercase;
      }
    }
  }

  &__icon {
    max-width: 150px;
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
  margin-left: -15px;
  margin-right: -15px;

  h2 {
    color: $primary-color;
    font-weight: 700;
  }

  .post {
    padding: 15px;
    text-align: left;

    &__link {
      text-decoration: none;
    }

    h2 {
      margin-bottom: 5px;
    }

    h3 {
      margin-bottom: 10px;
    }
  }
}

.link-button,
.link-button:visited {
  background-color: $primary-color;
  color: white;
  text-decoration: none;
  display: flex;
  border-radius: $border-radius;
  font-size: 15px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.15s ease;

  &:hover {
    background-color: $primary-color__hover;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    transform: translateY(-1px);
  }

  &.outline {
    background-color: transparent;
    color: $primary-color;

    &:hover {
      color: $primary-color__hover;
    }
  }

  &.ghost {
    background-color: transparent;
    color: black;
    box-shadow: none;
    transform: none;

    &:hover {
      background-color: #f1f1f1;
    }
  }

  &__icon {
    margin-right: 7px;
  }
}

.social-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .link-button {
    font-size: 1.25em;
    font-weight: 300;
    padding: 0.8rem;
    margin-right: 1rem;
    line-height: normal;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

h3 {
  font-size: 1rem;
  font-weight: 300;
}

a:visited {
  color: unset;
}

html,
body,
ul,
ol,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
