@import "../globals/base";

header {
  max-width: $width-max;
  margin: 0 auto;
  display: flex;
  box-shadow: 0 2px 0 0 #f5f5f5;

  .brand {
    display: flex;
    align-items: center;

    $logo-dimension: 24px;

    &__logo {
      height: $logo-dimension;
      transition: transform 0.25s ease-in-out;

      svg {
        height: $logo-dimension;
        width: $logo-dimension;
      }
    }

    &__logo:hover {
      transform: scale(1.1);
    }

    &__name {
      margin-left: 10px;
    }
  }

  @media all and (min-width: $width-medium) and (max-width: $width-large - 1px) {
    header {
      max-width: $width-medium;
      width: $width-medium;
    }
  }

  @media all and (max-width: $width-small) {
    header {
      max-width: $width-small;
      width: $width-small;
    }
  }

  @media all and (max-width: $width-xsmall) {
    header {
      max-width: $width-xsmall;
      width: $width-xsmall;
    }
  }
}

.navbar {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  &__item {
    padding: 10px 20px;
    text-decoration: none;
    color: #7a7a7a;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid $primary-color__hover;
    }
  }

  .active {
    color: $primary-color;
  }
}
