@import "../globals/base";

.content {
  text-align: center;
  max-width: $width-max;
  padding: 50px 25px;
}

.title {
  text-align: left;
  margin-bottom: 25px;
}

@media all and (min-width: $width-max) {
  .content {
    max-width: $width-max - 50px;
    width: $width-max - 50px;
  }
}

@media all and (min-width: $width-xlarge) and (max-width: $width-max - 1px) {
  .content {
    max-width: $width-xlarge - 50px;
    width: $width-xlarge - 50px;
  }
}

@media all and (min-width: $width-xlarge) {
  .content {
    margin: auto;
  }
}
