@import "base";

.content {
  text-align: center;
  margin: 50px auto 0;
  max-width: $width-max;
}

.title {
  text-align: left;
  margin-bottom: 25px;
}

@media all and (min-width: $width-medium) and (max-width: $width-large - 1px) {
  .content {
    max-width: $width-medium - 50px;
    width: $width-medium - 50px;
  }
}

@media all and (max-width: $width-small) {
  .content {
    max-width: $width-small - 50px;
    width: $width-small - 50px;
  }
}

@media all and (max-width: $width-xsmall) {
  .content {
    max-width: $width-xsmall - 50px;
    width: $width-xsmall - 50px;
  }
}
