@import "../globals/base";

.recipe {
  text-align: left;
  width: 100%;
  display: inline-block;
  margin-bottom: 40px;

  &__link {
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
  }

  &__image {
    transition: all 0.2s ease-out;

    &:hover {
      transition: all 0.2s ease-out;
      transform: scale(1.1);
    }
  }

  &__title {
    color: $primary-color;
    margin-bottom: 10px;
  }

  &__note-icon {
    // Just basic icon alignment
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    cursor: pointer;
  }

  &__body {
    &__buttons {
      display: flex;
      margin-left: -10px;
      margin-right: -10px;
    }
  }
}
